<nav class="student-sidebar">
  <ul class="student-sidebar-menu">
    <li class="student-sidebar-item">
      <a routerLink="/dashboard" class="student-sidebar-link"><i class="bi bi-house"></i> Dashboard</a>
    </li>
    <li class="student-sidebar-item">
      <a routerLink="/grade-report" class="student-sidebar-link"><i class="bi bi-bar-chart"></i> My Grades</a>
    </li>
    <li class="student-sidebar-item">
      <a routerLink="/dashboard/student/attendance-report" class="student-sidebar-link"><i class="bi bi-clock"></i> My Attendance</a>
    </li>
    <li class="student-sidebar-item">
      <a routerLink="/reports" class="student-sidebar-link"><i class="bi bi-journal-text"></i> Reports</a>
    </li>
    <li class="student-sidebar-item">
      <a routerLink="/announcements" class="student-sidebar-link"><i class="bi bi-megaphone"></i> Announcements</a>
    </li>
    <li class="student-sidebar-item">
      <a routerLink="/profile" class="student-sidebar-link"><i class="bi bi-gear"></i> Settings</a>
    </li>
  </ul>
</nav>
